*.a
*CMakeCache.txt
*CMakeFiles/
*cmake_install.cmake
coverage/
.cproject
CTestTestfile.cmake
*.exe
gmon.out
install_manifest.txt
*Makefile
.project
*.so
src/apps/googleextract
src/apps/hyhtml2text
src/apps/hyhtmldoc
src/apps/hyurlextract
src/apps/hyxmlclean
src/hypar/libhypar.so
src/hypar/libhypar-static.a
src/test/charentitytest
src/test/charstreamtest
src/test/iconvtest
src/test/mmaptest
src/test/saxtimertest
src/test/tokenizertest
tags
Testing/
