*.a
*CMakeCache.txt
*CMakeFiles/
*cmake_install.cmake
coverage/
.cproject
CTestTestfile.cmake
*.exe
gmon.out
install_manifest.txt
*Makefile
.project
*.so
*.dylib
test/*test
tags
Testing/
*.swp
*.swo
src/config.h
apps/googleextract
apps/hyhtml2text
apps/hyhtmldoc
apps/hyurlextract
apps/hyxmlclean
apps/mmapcat
apps/hypariconv
apps/hyparsaxtimer
apps/hytablereader
apps/hyhtmlclean
core.*
/.clangd
