*CMakeCache.txt
*CMakeFiles/
*Makefile
*cmake_install.cmake
*.a
*.so
*.exe
src/apps/googleextract
src/apps/hyhtml2text
src/apps/hyhtmldoc
src/apps/hyurlextract
src/apps/hyxmlclean
src/hypar/libhypar-static.a
src/hypar/libhypar.so
src/test/charentitytest
src/test/charstreamtest
src/test/iconvtest
src/test/mmaptest
src/test/saxtimertest
src/test/tokenizertest
